@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  background-color: rgb(108, 183, 215);
  font-family: 'Montserrat', sans-serif;
}

p::selection{
  background-color: rgb(28, 28, 28);
  color: rgb(108, 183, 215);
}
h1::selection{
  background-color: rgb(28, 28, 28);
  color: rgb(108, 183, 215);
}
h2::selection{
  background-color: rgb(28, 28, 28);
  color: rgb(108, 183, 215);
}

h1 {
  text-align: center;
  color: white;
  font-size: 60px;
}

h2 {
  color: white;
}

p {
  font-size: 20px;
}

#logo {
  width: 16%;
  height: 16%;
  display: block;
  margin: 0 auto;
  transition: 15s;
}

#logo:hover {
  transform: rotate(1800deg);
  transition: 15s;
}

.container {
  margin: 0 auto;
  margin: 5%;
  padding: 5%;
  border: 2px solid rgba(255, 255, 255, 0.49);
  border-radius: 3px;
  transition: 1s;
}

.container:hover {
  background-color: rgba(233, 233, 233, 0.20);
  border: 2px solid rgba(255, 255, 255, 0.89);
  border-radius: 30px;
  transition: 1s;
}

ul {
  list-style-image: url('https://i.imgur.com/Z3K5J18.png');
  list-style-position: inherit;
}

li {
  padding: 3px;
  margin: 2px;
  color: white;
    opacity: .9;
}

li:hover{
  font-weight: 900;
  opacity: 1;
}

a {
  color: rgb(237, 241, 246);
  text-decoration-color: rgb(255, 249, 249);
}

a:visited {
  color: rgb(237, 241, 246);
  text-decoration-color: rgb(255, 249, 249);
}
